# encoding: UTF-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Survey: <%= controller.action_name %></title>
  <%= surveyor_includes %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width">
</head>

<body>

<% if current_user %>
  <header id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner navbar-custom">
      <a href="#">
        <img style="position: absolute; top: -60; right: 0;
        border: 0;" src="/assets/refin-logo.png" height="70"/>
      </a>
      <div class="container">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <%= @user %>

            <%= link_to "Logout", "/users/logout",
              {:class => "btn btn-warning", :style => "margin-top:19px;"} %>

            <%= link_to "Result", "/surveyor/result",
              {:class => "btn btn-info", :style => "margin-top:19px;"} %>

            <div class="show-email">
              <% user = fullname %>
              <% if current_user.email =~ /^admin/ %>
                <%= link_to user, '#',
                  {:class => "btn btn-danger btn-sm"} %>
              <% else %>
                <%= link_to user, {:controller => :surveyor, :action => :edit},
                {:class => "btn btn-success btn-sm"} %>
              <% end %>
            </div>

          <% else %>

            <li><%= link_to "Register", new_user_registration_path, {:method => :get,
              :class => "btn btn-primary fx", :style => "margin-top:9px;margin-right:10px;"} %>
            </li>
            <li><%= link_to "Sign in", new_user_session_path, {:method => :get,
              :class => "btn btn-primary fx", :style => "margin-top:9px;margin-right:10px;"} %>
            </li>

          <% end %>
        </ul>
      </div>
    </div>
  </header>
<% end %>

<div class="container">
  <%= yield %>
</div>

<div id="help_text">
  <p>
  กรณีกู้เพื่อรีไฟแนนซ์บ้าน 1 ล้านบาท ในอัตราดอกเบี้ยตามสัญญาร้อยละ 2.6 (ดอกเบี้ย 26,000 บาทต่อปี)
  โดยท่านจะจ่ายดอกเบี้ยรวมร้อยละ 2.85 (ดอกเบี้ย 28,500 บาทต่อปี) นั่นคือ ท่านจะได้ร่วมสนับสนุนเงินเข้ากองทุน
  0.25% (2,500 บาทต่อปี )
  </p>
</div>

<div id="manual_text">
  <div id="objective">
    วัตถุประสงค์  เพื่อช่วยในการกำหนดแนวทางและมาตรการในการแก้ไขปัญหาทางด้านการเงิน
    ของเจ้าหน้าที่สาธารณสุขต่อไป
  </div>
  <div id="secret">
    สำหรับข้อมูลส่วนบุคคลจะถูกปกปิดเป็นความลับและไม่ถูกนำไปเปิดเผยให้หน่วยงานภายนอกรับทราบ
  </div>

  <div id="howto">
    <p>แบบสอบถามแบ่งเป็น 5 ส่วน</p>
    <pre>
    ข้อมูลส่วนที่ 1  ข้อมูลส่วนบุคคล
    ข้อมูลส่วนที่ 2  ข้อมูลแสดงรายรับ-รายจ่าย
    ข้อมูลส่วนที่ 3  ข้อมูลภาระหนี้สินทั่วไป
    ข้อมูลส่วนที่ 4  ข้อมูลหนี้สินที่อยู่อาศัย
    ข้อมูลส่วนที่ 5  ความสนใจโครงการสินเชื่อที่อยู่อาศัยและการรีไฟแนนซ์ (refinance)
    </pre>
  </div>
  <hr/>
  <div id="steps">
    <span>ขั้นตอนการลงทะเบียน</span>
    <ol style="list-style: decimal inside;">
      <li>กดปุ่ม [ลงทะเบียน] ในหน้าแรก</li>
      <li>ค้นหาเลขรหัสหน่วยงาน 5 หลัก โดยกดปุ่ม [ค้นหาเลขรหัสหน่วยงาน 5 หลัก]</li>
      <li>ในหน้าค้นหารหัสหน่วยงาน โดยเลือกหน่วยงานต้นสังกัดระดับกรม หน่วยปฏิบัติงาน
        และจังหวัด ตามลำดับ แล้วกดปุ่ม [ค้นหาข้อมูล]</li>
      <li>ตรวจสอบเลขรหัส 5 หลัก ของหน่วยงานที่ท่านปฏิบัติงานอยู่</li>
      <li>ในหน้า "ลงทะเบียนเพื่อทำแบบประเมินฯ" ให้กำหนด Username เพื่อ "เข้าสู่ระบบ"
        ประกอบด้วย "เลขบัตรประชาชน 13 หลัก" ตามด้วย "@" และตามด้วย "เลขรหัสหน่วยงาน 5 หลัก" เช่น 123456789012@12345</li>
      <li>ใส่หมายเลขโทรศัพท์ ในช่อง "หมายเลขโทรศัพท์"</li>
      <li>กำหนดรหัสผ่าน ด้วยตัวอักษร หรือตัวเลข จำนวน 6 หลัก และยืนยันรหัสผ่าน ในช่อง
        "ยืนยัน" ด้วยรหัสเดิม</li>
      <li>กดปุ่ม [ลงทะเบียน] แล้ว กดปุ่ม [เข้าสู่ระบบ]</li>
      <li>หลัง "เข้าสู่ระบบ" แล้ว ให้กดปุ่ม [เริ่มต้น] เพื่อทำแบบประเมิน</li>
    </ol>

    <div id="note">
      หมายเหตุ หากเข้าสู่ระบบแล้ว ต้องการกลับไปแก้ไขข้อมูลให้กด 2 ครั้ง ที่บริเวณเลข 13 หลัก
      (แถบสีเขียว) ตรงมุมบนขวาของหน้าจอ
    </div>

  </div>
</div>

<div id="refin_text">
  การรีไฟแนนซ์ (Refinance) คือ การทำสัญญาสินเชื่อใหม่กับเจ้าหนี้รายเดิม
  หรือเปลี่ยนเจ้าหนี้ เพื่อนำเงินกู้ที่ได้มาชำระหนี้สัญญาเดิม เหตุผลที่คนส่วนใหญ่มักรีไฟแนนซ์คือ
  สัญญาใหม่คิดอัตราดอกเบี้ยที่ต่ำกว่า หรือมีเงื่อนไขด้านอื่น ๆ ที่จูงใจกว่าที่เดิม เช่น 
  ให้เวลาผ่อนชำระยาวนานกว่า
  <br/><br/>
  ที่มา ศูนย์คุ้มครองผู้บริโภคทางการเงิน ธนาคารแห่งประเทศไทย
</div>

<div id="surveyor-gui-mount-point" data-surveyor-gui-mount-point="<%= surveyor_gui.surveyforms_path %>"></div>

</body>
</html>
